:root {
    /* ============================ font-family ==========================*/
    --ff-1: 'Montserrat', sans-serif;

    /* ============================ font-weight ==========================*/
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;

    /* ============================ font-size ==========================*/
    --fs-300: 12px;
    --fs-400: 16px;
    --fs-500: 20px;
    --fs-600: 24px;
    --fs-700: 28px;
    --fs-800: 32px;
    --fs-900: 36px;

    /* ============================ line height ==========================*/
    --lh-400: 1;
    --lh-500: 1.2;
    --lh-600: 1.6;
}